# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
node_modules

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
package-lock.json

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm / VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
test.db

# dotenv
.env
*.env
